In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
regular_df = pd.read_excel("../data/jimmy_butler_totals_regular.xlsx")
regular_df.head()

,YEAR,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,2024-25,TOT,55,1746,964,301,597,50.4,32,104,30.8,330,392,84.2,125,171,296,298,74,77,18,52,1977.2,6,3,246
1,2024-25,GSW,30,980,538,159,334,47.6,19,68,27.9,201,231,87.0,70,95,165,178,44,50,8,29,1133.0,4,2,188
2,2024-25,MIA,25,766,426,142,263,54.0,13,36,36.1,129,161,80.1,55,76,131,120,30,27,10,23,844.2,2,1,58
3,2023-24,MIA,60,2042,1246,396,793,49.9,60,145,41.4,394,459,85.8,105,213,318,298,102,79,17,68,2260.6,5,1,215
4,2022-23,MIA,64,2138,1466,479,888,53.9,36,103,35.0,472,555,85.0,141,234,375,340,101,117,21,80,2739.0,11,0,47

In [4]:
playoffs_df = pd.read_excel("../data/jimmy_butler_totals_playoffs.xlsx")
playoffs_df.head()

,YEAR,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,2024-25,GSW,1,42,25,10,19,52.6,1,2,50.0,4,6,66.7,3,4,7,6,1,5,0,1,56.4,0,0,14
1,2022-23,MIA,22,874,592,207,442,46.8,28,78,35.9,150,186,80.6,47,95,142,129,41,40,14,37,1076.9,4,0,-11
2,2021-22,MIA,17,629,466,166,328,50.6,23,68,33.8,111,132,84.1,41,84,125,78,25,35,11,25,846.0,4,0,95
3,2020-21,MIA,4,154,58,19,64,29.7,4,15,26.7,16,22,72.7,6,24,30,28,9,5,1,6,145.0,2,1,-86
4,2019-20,MIA,21,806,467,144,295,48.8,15,43,34.9,164,191,85.9,46,90,136,127,59,41,14,37,926.7,5,2,52

In [5]:
playoffs_df.shape

(12, 26)

In [6]:
len(playoffs_df)

12

In [13]:
for col in playoffs_df[['PTS', 'REB', 'AST', 'BLK', 'STL', 'TOV']]:
    print(col)

PTS
REB
AST
BLK
STL
TOV

In [20]:
pl_copy = playoffs_df.copy()

In [21]:
pl_copy['PTS30M'] = pl_copy['PTS'] / (pl_copy['MIN'] / 30)
pl_copy['3PM30M'] = pl_copy['3PM'] / (pl_copy['MIN'] / 30)
pl_copy['FTM30M'] = pl_copy['FTM'] / (pl_copy['MIN'] / 30)
pl_copy['REB30M'] = pl_copy['REB'] / (pl_copy['MIN'] / 30)
pl_copy['AST30M'] = pl_copy['AST'] / (pl_copy['MIN'] / 30)
pl_copy['BLK30M'] = pl_copy['BLK'] / (pl_copy['MIN'] / 30)
pl_copy['STL30M'] = pl_copy['STL'] / (pl_copy['MIN'] / 30)
pl_copy['TOV30M'] = pl_copy['TOV'] / (pl_copy['MIN'] / 30)

pl_copy.head()

,YEAR,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,PTS30M,3PM30M,FTM30M,REB30M,AST30M,BLK30M,STL30M,TOV30M
0,2024-25,GSW,1,42,25,10,19,52.6,1,2,50.0,4,6,66.7,3,4,7,6,1,5,0,1,56.4,0,0,14,17.857143,0.714286,2.857143,5.000000,4.285714,0.000000,3.571429,0.714286
1,2022-23,MIA,22,874,592,207,442,46.8,28,78,35.9,150,186,80.6,47,95,142,129,41,40,14,37,1076.9,4,0,-11,20.320366,0.961098,5.148741,4.874142,4.427918,0.480549,1.372998,1.407323
2,2021-22,MIA,17,629,466,166,328,50.6,23,68,33.8,111,132,84.1,41,84,125,78,25,35,11,25,846.0,4,0,95,22.225755,1.096979,5.294118,5.961844,3.720191,0.524642,1.669316,1.192369
3,2020-21,MIA,4,154,58,19,64,29.7,4,15,26.7,16,22,72.7,6,24,30,28,9,5,1,6,145.0,2,1,-86,11.298701,0.779221,3.116883,5.844156,5.454545,0.194805,0.974026,1.753247
4,2019-20,MIA,21,806,467,144,295,48.8,15,43,34.9,164,191,85.9,46,90,136,127,59,41,14,37,926.7,5,2,52,17.382134,0.558313,6.104218,5.062035,4.727047,0.521092,1.526055,2.196030